.successSubmitCard{
    background-color: var(--white);
    padding: 2.188rem;
    width: 25rem;

    border-radius: 1.875rem;
}

.successSubmitCard h2{
    font-size: 3.5rem;
    line-height: 1;
    margin-top: 1.6rem;
}

.successSubmitCard p{
    color: var(--dark-slate-grey);
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
