.card{
    width: 650px;

    background-color: var(--white);

    display: grid;
    grid-template-columns: 50% 50%;

    padding: 0.725rem;
    border-radius: 8px;
}

.card .infoAndForm{
    padding: 50px 20px;
}

.card .infoAndForm h1{
    text-align: center;
    font-size: 56px;
}

.card .infoAndForm p{
    text-align: justify;
}

.card .list{
    list-style: none;
}