.card{
    width: 51.25rem;
    background-color: var(--white);

    display: grid;
    grid-template-columns: 57% 43%;

    padding: 0.725rem;
    border-radius: 8px;
}

.card .infoAndForm{
    padding: 3.125rem 2.5rem;
}

.card .infoAndForm h1{
    font-size: 3.5rem;
    margin-bottom: 1.6rem;
}

.card .infoAndForm p{
    margin-bottom: 1.6rem;
    color: var(--dark-slate-grey);
}

.card .list{
    list-style: none;
    margin-bottom: 1.6rem;
}

.card .list li{
    display: flex;
    align-items: center;
    gap: 0.875rem;
    margin-bottom: 0.5rem;
}

.card .list li img{
    width: 1.5rem;
}

@media (max-width: 540px) {
    .card{
        display: flex;
        flex-direction: column-reverse;

        padding: 0;
        border-radius: 0;
    }

    .card .infoAndForm h1{
        font-size: 3rem;
    }
}