.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: var(--charcoal-grey);
}

@media (max-width: 540px) {
    .app{
        height: auto;
    }
}